<% if (locals.errors) {%>
    <ul>
        <% errors.forEach(function(error) { %>
            <li>
                <p>
                    <%= error.msg %>
                </p>
            </li>
            <% }); %>
    </ul>
    <% } %>