<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Add new book' }) %>

    <body>
        <h1>User login:</h1>
        <form action="/books/new" method="POST">
            <label for="title">Book title:</label>
            <input type="text" id="title" name="title" required>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author">
            <button type="submit">Add book</button>
        </form>
        <p>No account? <a href="./signup">Signup here.</a></p>
    </body>

</html>