<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Dashboard' }) %>

    <body>
        <header>
            <nav>
                // add links for signout and adding a book
            </nav>
        </header>
        <p>User Dashboard where users can view all of their books.</p>

        // add a list here for rendering books
    </body>

</html>