<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Dashboard' }) %>

    <body>
        <header>
            <form action="/user/logout" method="POST">
                <button type="submit">Log out</button>
            </form>

            <h1>Hello <%= username %>! Welcome to your dashboard.</h1>
        </header>
        <p>User Dashboard where users can view all of their books.</p>

        // add a list here for rendering books
    </body>

</html>