<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Homepage' }) %>

    <body>
        <header>
            <nav>
                // add links for login
            </nav>
        </header>
        <p>home</p>

    </body>

</html>