<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Login' }) %>

    <body>
        <h1>User login: <%= data %>
        </h1>
        <form action="/user/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>No account? <a href="./user/signup">Signup here.</a></p>
    </body>

</html>