<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Register</title>
</head>

<body>
    <section>
        <h3>Register:</h3>
        <form action="/user/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Create a username" minlength="3"
                maxlength="20">
            <label for="password">Password:</label>
            <input type="password" id="password" minlength="8" maxlength="20" name="password" required
                placeholder="Create a password">
            <button type="submit">Register</button>
            <% if (typeof errorMessage !=='undefined' ) { %>
                <p>
                    <%= errorMessage%>
                </p>
                <% }; %>

                    <%- include("partials/errors.ejs") %>
        </form>
    </section>

</body>

</html>