<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'User Signup' }) %>

    <body>
        <h1>User signup:</h1>
        <form action="/user/register" method="POST">
            <label for="username">Username (must be between 3 and 20 characters in length):</label>
            <input type="text" id="username" name="username" required placeholder="Choose a username" minlength="3"
                maxlength="20">
            <label for="password">Password (must be between 8 and 20 characters in length):</label>
            <input type="password" id="password" minlength="8" maxlength="20" name="password" required
                placeholder="Create a password">
            <button type="submit">Register</button>
        </form>
    </body>

</html>