header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 4rem 0 2rem 0;
    color: #162106;
}

.search {
    width: 18rem;
    border: 2px solid rgb(154, 154, 154);
    padding: .3rem .7rem;
    margin: .2rem 0 .5rem 0;
    border-radius: 1rem;
    max-width: 30rem;
    margin-top: 1rem;
}

.logout {
    background-color: #dd1d50;
    color: white;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    padding: .3rem .8rem;
    cursor: pointer;
    border: 2px solid #dd1d50;
    border-radius: 99999px;
    font-size: .8rem;
    font-weight: 500;

}

.logout:hover {
    background: none;
    color: #dd1d50;
}

.addBook {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    padding: .3rem .8rem;
    background-color: none;
    color: #363a94;
    text-decoration: none;
    border: 2px solid #363a94;
    border-radius: 99999px;
    font-size: .8rem;
    font-weight: 500;

}

.addBook:hover {
    background-color: #f1eeff;
}

main {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: #162106;
}



ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem auto;
}


li {
    background-color: #ffffff;
    width: 18rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    position: relative;
    display: flex;
    margin: .6rem;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 2px 2px 15px 0px rgb(204, 204, 204);
    font-size: .8rem;
    word-wrap: break-word;

}

li:hover {
    box-shadow: none;
    transition: box-shadow .5s ease;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 100%;
    background-color: #363a94;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.edit {
    background-color: rgb(234, 234, 234);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .2rem .5rem;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: .7rem;

}

.delete-btn {
    background-color: rgb(234, 234, 234);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .2rem .5rem;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: .7rem;

}

.edit:hover,
.delete-btn:hover {
    background-color: #f1eeff;
}