body {
    height: 100vh;
    display: grid;
    place-items: center;
}

h3 {
    margin-bottom: .5rem;
    text-align: center;
}

form {
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;
    padding: 2rem;
    
}


input {
    border: 2px solid rgb(154, 154, 154);
    padding: .3rem .5rem;
    margin: .2rem 0 .5rem 0;
    border-radius: 1rem;
}

button {
    margin: .5rem 0;
    padding: .3rem;
    cursor: pointer;
    background: none;
    border: 2px solid black;
    border-radius: 999999px;
}

button:hover {
    background-color: rgb(247, 247, 247);
}