body {
    height: 100vh;
    display: grid;
    place-items: center;
}

h3 {
    margin-bottom: .5rem;
}
form {
    
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: center;
    width: 15rem;
    
}

input {
    padding: .15rem;
}
button {
    margin: .5rem 0;
    padding: .25rem;
    cursor: pointer;
}